<footer class="st-sticky-footer">
	<div class="row">
		<div class="col-sm-6">
			<div class="footer-content">
				<p>Designed and created by <a href="http://twitter.com/yperezva">@@yperezva</a></p>
				<p>DurandalAuth template is licensed under the <a href="https://raw.github.com/yagopv/stashy/master/license.txt" target="_blank">MIT license</a></p>
			</div>
		</div>
		<div class="col-sm-6">    
			<div class="footer-content">                
				<ul class="list-unstyled">
					<li>
						<a href="https://github.com/yagopv/durandalauth" target="_blank"><i class="icon-github"></i>View project on Github</a>
					</li>
					<li>
						<a href="https://twitter.com/yperezva" target="_blank"><i class="icon-twitter-sign"></i>Follow me on Twitter</a></li>
					<li>
						<a href="mailto:yago.perez@outlook.com"><i class="icon-envelope-alt"></i>Email me</a>
					</li>
				</ul>
			</div>
		</div>                    
	</div>                        
</footer>