@model DurandalAuth.Web.Models.AccountNotificationModel
@{
    Layout = "OneColumn_Layout.cshtml";
}

<repeater>
    <layout label="Text only">
        <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
            <tbody>
                <tr>
                    <td class="w580" width="580">
                        <p align="left" class="article-title"><singleline label="Title">Reset your password</singleline></p>
                        <div align="left" class="article-content">
                            <multiline label="Description">
                                <p>Hello @Model.DisplayName,</p>
                                <br />
                                <p style="font-size: 15px; color: #878787; line-height: 22px; font-weight: lighter; margin-bottom: 35px;">
                                    You may change your password from by clicking <a href="@Model.Url" class="dropdown-toggle" data-toggle="dropdown">here</a>.
                                </p>
                            </multiline>
                        </div>
                    </td>
                </tr>
                <tr><td class="w580" width="580" height="10"></td></tr>
            </tbody>
        </table>
    </layout>
</repeater>