<div id="about">
    <div class="jumbotron feature">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <h2 class=""><span>Who is </span><span class="cue">Cue</span><span class="zero">Zero</span><span>?</span></h2>
                </div>
                <div class="col-md-6">
                    <h3 class="text-right">Strategic <em>and</em> pragmatic</h3>
                    <h3 class="text-right">Focused <em>and</em> adaptive</h3>
                    <h3 class="text-right">Creative <em>and</em> evidence-based</h3>
                </div>
                <!--<p>At CueZero, we believe there’s a better way to engage staff to execute strategy, increase effectiveness, and make organizations better places to work.</p>-->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mart2">
            <div class="col-md-6">
                <div data-bind="iconBox: {
    iconClass: 'fa-anchor',
    title: 'We\'re dedicated to..',
    content:'Creating simple and beautifully effective tools that become part of the organizational experience in order to unlock the potential of feedback to improve business performance. '
}">
                </div>
            </div>
            <div class="col-md-6">
                <div data-bind="iconBox: {
    iconClass: 'fa-cogs',
    title: 'We\'re designing for...',
    content:'Organizations who want to embrace new ways of doing things, ' +
    'believe in continuous adaptation and improvement, and want to bring their staff on that journey.  '
}">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mart2">
            <div class="col-md-6">
                <div data-bind="iconBox: {
    iconClass: 'fa-group',
    title: 'Who\'s behind <b>CueZero<\/b>?',
    content:'<p>The CueZero team has experience in strategy consulting, technology, organizational psychology and leadership<\/p>' +
    '<p>We\'re united by a passion for organizational effectiveness, agile methodologies and the occasional bit of disruption.<\/p>'
}">
                </div>
            </div>
            <div class="col-md-6">
                <div data-bind="iconBox: {
    iconClass: 'fa-thumbs-up',
    title: 'What do we stand for?',
    content:'<p>We know that business is rarely easy and often complex, but we believe it should always be engaging.<\/p>' +
    '<p>We stand for transparency,  intrinsic motivation and measuring what matters.<\/p>' +
    '<p>And helping you be the best business that you can be.<\/p>'
}">
                </div>
            </div>
        </div>
    </div>
</div>
