<div id="about">
    <div class="row">
        <div class="col-lg-6">
            <div class="about-content well">
                <h1><i class="fa fa-user"></i>    Who am I?</h1>
                <p class="lead">My name is Yago and I am a developer who 
				is passionate about web design and programming.</p>     
            </div>                                                
            <div class="about-content well" style="margin-top:-5px;">
                <h1><i class="fa fa-eye"></i>    What I like to do?</h1>
                <p class="lead">I like to learn and explore new technologies and development environments. I also like to take a look at new and amazing projects to see how they evolve.</p>                      
            </div>                        
        </div>
        <div class="col-lg-6">
            <div class="about-content well">
                <h1><i class="fa fa-comments"></i>    How can you contact me?</h1>
                <ul class="unstyled">
                    <li><a href="#" onclick="window.open('https://github.com/yagopv', '_blank')"><i class="icon-github"></i>    Github</a></li>
                    <li><a href="#" onclick="window.open('https://twitter.com/yperezva', '_blank')"><i class="icon-twitter-sign"></i>    Twitter</a></li>
                    <li><a href="#" onclick="window.open('https://www.facebook.com/yago.perezvazquez', '_blank')"><i class="icon-facebook-sign"></i>    Facebook</a></li>           
                    <li><a href="#" onclick="window.open('http://es.linkedin.com/pub/yago-p%C3%A9rez-v%C3%A1zquez/45/453/381', '_blank')"><i class="icon-linkedin-sign"></i>    LinkedIn</a></li>
                </ul>                                            
            </div>        
            <div class="about-content well" style="margin-top:-5px;">
                <h1><i class="fa fa-cloud"></i>    Where I am?</h1>
                <p class="lead">In a galaxy far, far away...</p>                
            </div>                    
        </div>            
    </div>
</div>