<div id="contact">
    <div class="jumbotron transparent">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div data-bind="visible: messageEmail">
                        <h3>Thanks for signing up <span data-bind="text: messageEmail"></span></h3>
                    </div>
                    <div data-bind="visible: !messageEmail()">
                        <h3>Hello! </h3>
                    </div>

                    <h2 class="">An <span class="cue">early adopter</span>, or just <span class="zero">curious</span><span>?</span></h2>

                    <p class="small">
                        CueZero is currently in its first phase of development and is scheduled for beta testing in mid-2014.
                    </p>
                    <p class="small">
                        Would you like to stay informed about our progress as the launch date approaches? Or maybe you’re an innovative team or organization looking to be the first to trial this new way of doing things.
                    </p>
                    <p data-bind="visible: !messageEmail()">
                        <b>Connect with us.</b> <em>We’d love to hear from you.</em>
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <div data-bind="compose:'home/registerInterest.html'"></div>
                    </div>
                    <!--<div>
                        <div data-bind="compose:activeScreen"></div>
                    </div>-->

                </div>
            </div>

        </div>
    </div>
</div>
