<div id="contact">
    <div class="jumbotron feature">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <h2 class="">An <span class="cue">early adopter</span>, or just <span class="zero">curious</span><span>?</span></h2>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>
                    CueZero is currently in its first phase of development and is scheduled for beta testing in mid-2014.
                </p>
                <p>
                    Would you like to stay informed about our progress as the launch date approaches? Or maybe you’re an innovative team or organization looking to be the first to trial this new way of doing things.
                </p>
                <p>
                    <b>Connect with us.</b> <em>We’d love to hear from you.</em>
                </p>
                <div>
                    <div data-bind="compose:activeScreen"></div>
                </div>
                
            </div>
        </div>
        <div id="foldrow" class="row">
            <div class="col-sm-2">
                <div id="uc-container" class="uc-container">
                    <div class="uc-initial-content unfold">
                        <p style="color: white">Not sure, just curious</p>
                    </div>
                    <div class="uc-final-content fold">
                        <p style="color: white">We’re glad to have you here! We’ll keep you informed about CueZero as the launch date approaches and you’ll be the first to get a sneak peek before its official release.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div id="uc-container" class="uc-container">
                    <div class="uc-initial-content unfold">
                        <p style="color: white">I’m interested in being part of the private beta group</p>
                    </div>
                    <div class="uc-final-content fold">
                        <p style="color: white">Welcome, CueHero! We’re glad to have you on board. We’re busy building at the moment, so we may be a little quiet, but when we’re ready to share CueZero you will be the FIRST to know about it. </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div id="uc-container" class="uc-container">
                    <div class="uc-initial-content unfold">
                        <p style="color: white">I’m interesting in exploring an alternative to our current staff survey</p>
                    </div>
                    <div class="uc-final-content fold">
                        <p style="color: white">We’re on a mission to make this a reality. We’ll keep you informed about our progress along the way and you’ll be the first to know about CueZero as it nears its release. Your survey’s days are numbered.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div id="uc-container" class="uc-container">
                    <div class="uc-initial-content unfold">
                        <p style="color: white">Not sure, just curious</p>
                    </div>
                    <div class="uc-final-content fold">
                        <p style="color: white">We’re glad to have you here! We’ll keep you informed about CueZero as the launch date approaches and you’ll be the first to get a sneak peek before its official release.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div id="uc-container" class="uc-container">
                    <div class="uc-initial-content unfold">
                        <p style="color: white">I’m interested in exploring an alternative to our current discussion and collaboration tool</p>
                    </div>
                    <div class="uc-final-content fold">
                        <p style="color: white">You’ve come to the right place. We can’t wait to share more about CueZero with you as it nears its release.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div id="uc-container" class="uc-container">
                    <div class="uc-initial-content unfold">
                        <p style="color: white">Tiddly um pum</p>
                    </div>
                    <div class="uc-final-content fold">
                        <p style="color: white">Ta da!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
