<div id="help">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h2 class="text-primary"><i class="fa fa-question-circle"></i>   How is this site working?</h2>
                </div>
                <p>This site simulates a community-managed article repository. People with accounts can write articles in their dashboards and make them public on the web.</p>
                <p>The main objective of this sample application is to provide a way to authenticate and authorize users similar to the default ASP MVC 4 Internet template. You will find Forms and oAuth authentication built-in with the main social providers among another useful features.</p>
                <p>I decided to leverage the first template I created to build a more complete application in order to show what Breeze JS can do for you and how to protect saving changes on server.</p>
                <hr />
                <p>The first thing you should do is create a new account using the <a href="#" data-bind="attr: { href: convertRouteToHash('account/login') }">membership system or the oAuth providers</a>.</p>
                <p>
                    After registration, a <span class="label label-primary">User</span>
                    role will be assigned to you that will permit access to the <a href="#" data-bind="attr: { href: convertRouteToHash('user/dashboard') }">user dashboard</a>. Once there, you can start writing articles.
                </p>
                <p>
                    While writing on your dashboard, remember to set the article
                    as a public article if you want to make it visible for the rest of the community.
                </p>
                <p>
                    Administrator users can access the <a href="#" data-bind="attr: { href: convertRouteToHash('admin/panel') }">admin panel view</a>. If you want to access this view, you'll need to have the
                    <span class="label label-primary">Administrator</span> role.
                </p>
                <p>Try to log in with the following: <span class="label label-primary">admin/admin1234</span> and once there, you will be able to check a list with the registered users on this site.</p>                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h2 class="text-primary"><i class="fa fa-plus-circle"></i>   Add you own Entities</h2>
                </div>
                <p>One of the first things you would like to do with this sample template is creating your own entities. Yo can do so following this steps.</p>
                <ul>
                    <li>
                        <h3><span class="text-primary">Domain Layer</span></h3>
                        <ul>
                            <li>
                                <p>First step should be adding the new entity to the <span class="text-info">Model</span> folder.</p>
                                <p>It´s important to remember the <span class="text-info">[DataContract]</span> and <span class="text-info">[DataMember]</span> attributes. Fields not decorated with <span class="text-info">[DataMember]</span> won´t be managed by Breeze and won´t be propagated to the client application.</p>
                            </li>
                            <li>
                                <p>Optionally you can add a extended repository contract like <span class="text-info">IMyNewEntityRepository.cs</span> in the <span class="text-info">Repositories</span> folder.</p>
                                <p>This new repository will inherit from <span class="text-info">IRepository.cs</span> and should content specific methods for the new entity.</p>
                                <p>You should do this only if need more functionality that the included in <span class="text-info">IRepository.cs</span>.</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3><span class="text-primary">Data Layer</span></h3>
                        <ul>
                            <li>
                                <p>Add the newly created entity to the <span class="text-info">DurandalAuthDbContext.cs</span> class.</p>
                            </li>
                            <li>
                                <p>If you decided to create a new repository contract in the <span class="text-info">Domain layer</span>, you need to implement it in the <span class="text-info">Data layer</span>.</p>
                                <p>Create a new <span class="text-info">MyNewEntityRepository.cs</span> class under the <span class="text-info">Repositories</span> folder implementing <span class="text-info">IMyNewEntityRepository.cs</span> interface.</p>
                            </li>
                            <li>
                                <p>Add the new repository to the <span class="text-info">UnitOfWork.cs</span>.</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3><span class="text-primary">Web Layer</span></h3>
                        <ul>
                            <li>
                                <p>Add methods to the <span class="text-info">DurandalAuthController.cs</span> class in order to retrieve the new entity data. If you prefer to not use <span class="text-info">Breeze</span>, create a new Api Controller for the resource and call it from the client using standard AJAX calls.</p>
                            </li>
                            <li>
                                <p>Under the Durandal App folder:</p>
                                <ol>
                                    <li>
                                        <p>Add new initialization methods and constructors for the breeze entities using the <span class="text-info">model/modelBuilder.js</span> module.</p>
                                    </li>
                                    <li>
                                        <p>Add a new breeze resource in the <span class="text-info">services/unitofwork.js</span> module using the base <span class="text-info">repository.js</span> module or a new one you can create extending that one. Samples for extending <span class="text-info">repository.js</span> are <span class="text-info">privatearticlesrepository.js</span> and <span class="text-info">publicarticlesrepository.js</span>.</p>
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <p>Perhaps you would like to add some bussiness rules for the new entity. This sort of things can be accomplished in several ways like using data attributes. Another way breeze specific is using Breeze delegates. Under the <span class="text-info">Helpers</span> folder you have the <span class="text-info">BreezeValidator.cs</span> class implementing the <span class="text-info">IBreezeValidator.cs</span> on the Domain layer. The Breeze delegates are asigned in the <span class="text-info">UnitOfWork.cs</span> class under the <span class="text-info">Data Layer</span>.</p>
                            </li>
                            <li>
                                <p>If you create new interfaces for repositories, remember to add them to the <span class="text-info">IoC.cs</span> container under the <span class="text-info">DependencyResolution folder</span>.</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h2 class="text-primary"><i class="fa fa-search"></i>   About SEO Optimization</h2>
                </div>
                <p>The template is ready to be SEO crawlable. DurandalAuth implements the <a href="https://developers.google.com/webmasters/ajax-crawling/docs/getting-started" target="_blank"> google ajax crawling scheme</a> for pages without hash fragments. You need the default pushstate option enabled.</p>
                <p>I created a interface (Helpers/ISnapshot.cs) that needs to be implemented in order to work.</p>
                <p>The default implementation uses <a href="https://github.com/yagopv/azurecrawler" target="_blank"> a new project I created called AzureCrawler</a>.</p>
                <p>This new project is a Worker Role ready to be deployed to Windows Azure and serving a REST Web API via OWIN. The Web API executes a phantomjs process when receiving requests and returns html snapshots. Moreover, AzureCrawler can save the snapshot to Azure Storage and keep it there with the expiration date you choose, so next time the page is requested for any bot, the stored snapshot will be served.</p>
                <p>I created AzureCrawler like a separate project but it´s easy to bring all the concepts from AzureCrawler to your own project if you want to keep it in the same solution. Another option is creating your own implementation of ISnapshot.cs</p>
            </div>
        </div>
        <blockquote class="bs-callout bs-callout-danger">
            <h2>Remember !!</h2>
            <p class="lead">
                The authorization system in the client can always be hacked!
                Always authenticate and authorize the request in the server when retrieving the necessary data for your views.
            </p>
        </blockquote>
        <hr />
    </div>
</div>