<div class="jumbotron">
  <h1><i class="icon-exclamation-sign"></i>  Welcome to the DurandalAuth template</h1>
  <p class="mart5">This template provide a way to authenticate and authorize users similar to the default ASP MVC 4 Internet template. You have Forms and oAuth authentication built-in with the main social providers among another useful features</p>
</div>

<p>Try to sign in for a new account using the <a href="/#/login">membership system or the oAuth providers</a>.</p>
<p>A role <span class="label label-info">User</span> will be asigned to any new user and will permit access to the <a href="/#/user">User view</a>. If you don´t want to sign in, you can use the existing user  <span class="label label-success">user/user1234</span></p>
<p>If you want to access the <a href="/#/admin">Admin view</a>, you need the role <span class="label label-info">Administrator</span> so you can only access this view with an admin user. Try to log in with the following one  <span class="label label-success">admin/admin1234</span></p>

<hr />

<div class="alert alert-info">
    <h2>Important!!</h2>
    <p class="lead">The authorization system in the client can be always be hacked, so remember to always authenticate and authorize the request in the server when retrieving the necessary data for your views</p>
</div>