<h2>Welcome to the Durandal auth authentication template</h2>
<p class="lead">This template pretend to be a port from the default ASP MVC 4 Internet template, providing forms and oAuth authentication with the main providers</p>
<p>Try to sign in for a new account using the <a href="/#/login">membership system or the oAuth providers</a>.</p>
<p>A role "User" will be asigned to any new user and will allow access to the <a href="/#/user">User view</a>.</p>
<p>If you want to access to the <a href="/#/admin">Admin view</a> you need the role "Administrator" so you can only acccess to it with an admin user. Try to log in with the followind one admin/admin1234</p>

<div class="alert alert-error">
    <h2>Important !!</h2>
    <p class="lead">The authorization system in the client can be always be hacked, so remember to always authenticate and authorize the request in the server when retrieving the necessary data for your views</p>

</div>