<div id="index">

    <div id="featured" class="jumbotron">
        <div class="container">
            <div class="col-sm-4">
                <!--<div data-bind="mainGraphic:{}"></div>-->
            </div>
            <div class="col-sm-4">
                <div class="well well-lg bgTrans" id="interestFrm">
                    <h3 class="textTrans">Launching in 2014</h3>
                    <h5 class="textTrans">
                        <a href="https://twitter.com/cue_zero" target="_blank"><i class="fa fa-twitter"></i>Follow CueZero on Twitter</a>
                    </h5>
                    <h5 class=" textTrans">Register to get access special deals when we launch</h5>
                    <button class="btn btn-success" data-bind="click: register">Register</button>
                </div>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>
    <div id="divWhen" class="jumbotron featureTitle">
        <div >
            <h3 class="featureTitle">When can CueZero help you?</h3>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-sm-4 text-center">
                <div data-bind="viewBox: {
    title: 'I want to monitor our organizational health',
    content:'Keep track of your organisation\'s pulse. Engage staff in an ongoing dialogue about your organization\'s effectiveness and be on the lookout for early cues about new issues or opportunities.'
}">
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div data-bind="viewBox: {
    title: 'I want to test an idea or solution',
    content:'Test the waters or validate a hunch. Get early feedback on a problem, opportunity or solution so that you can refine your approach to make sure you’re investing in the right solution.'
}">
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div data-bind="viewBox: {
    title: 'I want specific feedback about a strategy or key initiative',
    content:'Capture early signals about strategy or program effectiveness and course-correct when needed. This immediate and continuous feedback helps you stay ahead of the game rather than waiting until things go wrong.'
}">
                </div>
            </div>
        </div>
    </div>
    <div id="divWhat" class="row"></div>
    <div class="jumbotron featureTitle">
        <div>
            <h3 class="featureTitle">How does it help you get more timely, specific and action-oriented feedback?</h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
                <div class="col-sm-3 text-center">
                    <div data-bind="viewBox: {
    title: 'Anytime, Anywhere',
    content:'CueZero is always on, receiving and reporting feedback in real time so you never miss a cue. Integrate CueZero with your existing workflows – MS Office, Yammer, SaleForce etc. to make giving and tracking feedback a seamless experience.'
}">
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <div data-bind="viewBox: {
    title: 'Adaptive',
    content:'Don’t keep collecting answers to the same question over and over again if the context is changing; follow trends as they emerge. CueZero orients to newer, more relevant cues as your focus changes.   You can adapt CueZero in response to feedback or let staff do it for you.'
}">
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <div data-bind="viewBox: {
    title: 'Solution-focused',
    content:'Engage staff in the entire feedback loop – from issue identification, to idea generation, solution selection and implementation tracking. Asking the questions, reporting the responses and communicating action are part of the same process.'
}">
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <div data-bind="viewBox: {
    title: 'Strategic and pragmatic',
    content:'Your strategy and context are unique, so CueZero lets you define these and use them to devise feedback cues, organise and analyse data. CueZero guides you through cue development, and also has a library for common themes like agility, innovation and fundamental management skills.'
}">
                    </div>
                </div>
            </div>
        </div>
    <div id="divHow" class="jumbotron featureTitle">
        <div>
            <h3 class="featureTitle">How does it work?</h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div>
                <div class="col-sm-4 text-center">
                    <object data="../Content/images/Stage1Opt.svg" type="image/svg+xml" />
                </div>
                <div class="col-sm-4 text-center">
                    <object data="../Content/images/Stage2Opt.svg" type="image/svg+xml" />
                </div>
                <div class="col-sm-4 text-center">
                    <object data="../Content/images/Stage3Opt.svg" type="image/svg+xml" />
                </div>
            </div>
        </div>
    </div>
</div>