<div id="index">

    <div id="featured" class="jumbotron">
        <div class="container">
            <h1>Welcome to the DurandalAuth 2 template</h1>
            <p>A way to authenticate users using Durandal and token authentication with the new ASP.NET Identity membership</p>
            <p><a href="https://github.com/yagopv/durandalauth" target="_blank" class=" btn btn-primary btn-lg" role="button">Visit the project repo on Github</a></p>
        </div>
    </div>

    <div class="container">
        <div class="row mart5">
            <div class="col-sm-4 text-center">
                <img src="/Content/icons/icon_data.png" alt="Breeze!!" width="200" />
                <h2>Breeze for data management</h2>
                <p class="lead">Client-side data management uses the excellent Breeze JS framework</p>
            </div>
            <div class="col-sm-4 text-center">
                <img src="/Content/icons/icon_cloud.png" alt="ASP MVC and Web API" width="200" />
                <h2>ASP MVC and Web API</h2>
                <p class="lead">ASP MVC and Web API on the server-side</p>
            </div>
            <div class="col-sm-4 text-center">
                <img src="/Content/icons/icon_library.png" alt="Patterns!!" width="200" />
                <h2>Unit of Work and Repositories</h2>
                <p class="lead">You will find an implementation of this pattern both server (Entity Framework) and client side (Breeze)</p>
            </div>
            <div class="col-sm-4 text-center">
                <img src="/Content/icons/icon_seo.png" alt="SEO ready!!" width="200" />
                <h2>SEO Optimization</h2>
                <p class="lead">The template is ready to be SEO crawlable using a <a href="https://github.com/yagopv/azurecrawler" target="_blank">headless browser</a></p>
            </div>
            <div class="col-sm-4 text-center">
                <img src="/Content/icons/icon_lock.png" alt="ASP.NET Identity!!" width="200" />
                <h2>ASP.NET Identity</h2>
                <p class="lead">ASP.NET Identity system and token authentication ready</p>
            </div>
            <div class="col-sm-4 text-center">
                <img src="/Content/icons/icon_angles.png" alt="Bootstrap!!" width="200" />
                <h2>... and of course</h2>
                <p class="lead">My favorite tool ... Bootstrap for styling this site</p>
            </div>
        </div>
    </div>

    <hr class="container" />

    <div class="container">
        <div class="row mart5">
            <div class="col-lg-4 text-center">
                <img src="/Content/icons/icon_question.png" alt="Why this project?" width="150" />
                <h2>Why this project?</h2>
                <p class="lead">
                    Because I couldn't find any proper way of working with this technology stack and this kind of authentication ... so
                    I tried to write it myself.
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <img src="/Content/icons/icon_social.png" alt="Collaborate" width="150" />
                <h2>Collaborate</h2>
                <p class="lead">
                    If you find bugs or want to improve the sample project template, feel free to contact me, create
                    a pull request, or
                    whatever you want.
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <img src="/Content/icons/icon_project.png" alt="Project" width="150" />
                <h2>Visit the project site ...</h2>
                <p class="lead">... <a href="https://github.com/yagopv/durandalauth" target="_blank"> on Github</a> and check the code if you want.</p>
            </div>
        </div>
        <hr />
    </div>
</div>