<div id="index">
	<div id="featured" class="st-slider">
		<ul class="jumbotron st-slider-panes">
			<li>
				<div class="st-slider-content">
					<div class="row">
						<div class="col-sm-offset-1 col-sm-10">
							<div class="hidden-xs col-sm-3 col-md-2 col-lg-2">
								<a class="thumbnail" href="#">
									<img src="/Content/icons/icon_lock.png" alt="Durandal!!" />
								</a>
							</div>
							<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
								<h1 class="mart0">Welcome to the DurandalAuth sample project !!</h1>
								<p class="mart2 prewrap">This template provides a way to authenticate users using Durandal and FormsAuthentication with	an ASP SimpleMembership Provider.</p>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="st-slider-content">
					<div class="row">
						<div class="col-sm-offset-1 col-sm-10">
							<div class="hidden-xs col-sm-3 col-md-2 col-lg-2">
								<a class="thumbnail" href="#">
									<img src="/Content/icons/icon_data.png" alt="Breeze!!" />
								</a>
							</div>
							<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
								<h1 class="mart0">Breeze for data management</h1>
								<p class="mart2 prewrap">Client-side data management uses the excellent Breeze JS framework.</p>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="st-slider-content">
					<div class="row">
						<div class="col-sm-offset-1 col-sm-10">
							<div class="hidden-xs col-sm-3 col-md-2 col-lg-2">
								<a class="thumbnail" href="#">
									<img src="/Content/icons/icon_cloud.png" alt="ASP MVC and Web API" />
								</a>
							</div>
							<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
								<h1 class="mart0">ASP MVC and Web API</h1>
								<p class="mart2 prewrap">ASP MVC and Web API are used on the server-side.</p>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="st-slider-content">
					<div class="row">
						<div class="col-sm-offset-1 col-sm-10">
							<div class="hidden-xs col-sm-3 col-md-2 col-lg-2">
								<a class="thumbnail" href="#">
									<img src="/Content/icons/icon_library.png" alt="Patterns!!" />
								</a>                                        
							</div>
							<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
								<h1 class="mart0">Unit of Work and Repositories</h1>
								<p class="mart2 prewrap">You will find an implementation of this pattern on both the server (Entity Framework) and the client (Breeze).</p>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="st-slider-content">
					<div class="row">
						<div class="col-sm-offset-1 col-sm-10">
							<div class="hidden-xs col-sm-3 col-md-2 col-lg-2">
								<a class="thumbnail" href="#">
									<img src="/Content/icons/icon_angles.png" alt="Bootstrap!!" />
								</a>                                        
							</div>
							<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
								<h1 class="mart0">... and of course</h1>
								<p class="mart2 prewrap">My favorite tool ... Bootstrap for styling this site.</p>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="container">
		<div class="row mart5">
			<div class="col-lg-4 text-center">                
				<img src="/Content/icons/icon_question.png" alt="Why this project?" width="150" />
				<h3>Why this project?</h3>
				<p>Because I couldn't find any proper way of working with this technology stack and this kind of authentication ... so 
				I tried to write it myself.</p>
			</div>
			<div class="col-lg-4 text-center">
				<img src="/Content/icons/icon_social.png" alt="Collaborate" width="150" />
				<h3>Collaborate</h3>
				<p>If you find bugs or want to improve the sample project template, feel free to contact me, create 
				a pull request, or 
				whatever you want.</p>
			</div>
			<div class="col-lg-4 text-center">
				<img src="/Content/icons/icon_project.png" alt="Project" width="150" />                
				<h3>Visit the project site ...</h3>
				<p>... <a href="https://github.com/yagopv/DurandalAuth" target="_blank">on Github</a> and check the code if you want.</p>
			</div>
		</div>
		<div class="row mart5">
			<div class="col-lg-12">
				<div class="page-header">
					<h2>How is this site working?</h2>
				</div>            
				<p>This site simulates a community-managed article repository. People with accounts can write articles in their dashboards and make them public on the web.</p>
				<p>The main objective of this sample application is to provide a way to authenticate and authorize users similar to the default ASP MVC 4 Internet template. You will find Forms and oAuth authentication built-in with the main social providers among another useful features.</p>
				<p>I decided to leverage the first template I created to build a more complete application in order to show what Breeze JS can do for you and how to protect saving changes on server.</p>            
				<hr />
				<p>The first thing you should do is create a new account using the <a href="#" data-bind="attr: { href: convertRouteToHash('account/login') }">membership system or the oAuth providers</a>.</p>
				<p>After registration, a <span class="label label-info">User</span> 
				role will be assigned to you that will permit access to the <a href="#" data-bind="attr: { href: convertRouteToHash('user/dashboard') }">user dashboard</a>. Once there, you can start writing articles.</p>
				<p>While writing on your dashboard, remember to set the article 
				as a public article if you want to make it visible for the rest of the community.</p>
				<p>Administrator users can access the <a href="#" data-bind="attr: { href: convertRouteToHash('admin/panel') }">admin panel view</a>. If you want to access this view, you'll need to have the 
				<span class="label label-info">Administrator</span> role.</p>
				<p>Try to log in with the following: <span class="label label-success">admin/admin1234</span> and once there, you will be able to check a list with the registered users on this site.</p>
				<hr />
				<blockquote class="bs-callout bs-callout-danger">
					<h2>Remember !!</h2>
					<p class="lead">The authorization system in the client can always be hacked! 
					Always authenticate and authorize the request in the server when retrieving the necessary data for your views.</p>
				</blockquote>
			</div>
		</div>
		<hr />
	</div>
</div>