<div class="row">
    <div class="container">
        <div class="col-sm-offset-3 col-sm-6 col-xs-12">
            <form role="form" data-bind="with: respondent">
                <div class="form-group">
                    <label class="bigWhite" for="emailAddress" data-bind="visible: !$root.canSave()">How can we get hold of you?</label>
                    <label class="bigWhite" for="emailAddress" data-bind="visible: $root.canSave()">Thanks for giving us your email address</label>
                    <input type="email" class="form-control autofocus" autofocus id="emailAddress" placeholder="Email" data-bind="value: emailAddress, valueUpdate: 'afterkeydown'">
                    <span class="help-block copy" data-bind="breezeValidation: 'emailAddress'"></span>
                </div>

                <div class="form-group">
                    <label class="bigWhite" for="fullName">Tell us your name (optional but much appreciated...)</label>
                    <input type="text" class="form-control"  id="fullName" placeholder="Name" data-bind="value: fullName, valueUpdate: 'afterkeydown'">
                    <span class="help-block" data-bind="breezeValidation: 'fullName'"></span>
                </div>

                <div class="form-group">
                    <label class="bigWhite" for="organisation">Tell us where you work (also optional but much appreciated...)</label>
                    <input type="text" class="form-control" id="organisation" placeholder="Your organization" data-bind="value: organisation, valueUpdate: 'afterkeydown'">
                    <span class="help-block" data-bind="breezeValidation: 'organisation'"></span>
                </div>
                <!--<button type="button" class="btn btn-success" data-bind="enable: $root.canSave">Submit</button>-->
            </form>
        </div>

    </div>
</div>
<div >
    <div class="row mart2" data-bind="visible: canSave()">
        <div class="container">
            <p class="small">
                Will you tell us a bit about how a real-time, continuous feedback tool could help your organization?  Select one or more of the tiles below, and let us know what's most important to you.
            </p>
        </div>
    </div>

    <div class="row">
        <div id="optionTiles">
            <div class="container" data-bind="visible: canSave()">
                <div data-bind="foreach: optionArray">
                    <div class="col-xs-12 col-sm-12 col-md-2">
                        <div class="tilect ti">
                            <div class="tile ti">
                                <p class="title ti" data-bind="html: intro"></p>
                                <span class="tick ti" data-bind="visible: selected"><i class="fa fa-check ti"></i></span>
                            </div>
                            <div class="tilexp ti">
                                <p class="copy ti" data-bind="text: spiel"></p>

                                <form role="form">
                                    <div class="form-group ti">
                                        <label class="small ti" for="exampleInputEmail1">Have anything to add?</label>
                                        <textarea class="form-control ti" rows="2" data-bind="value: comment" placeholder="Tell us what matters most to you"></textarea>
                                    </div>
                                </form>
                                <div class="row">
                                    <div class="col-xs-10">
                                        <button class="btn btn-block btn-primary selectedButton ti">Submit</button>
                                    </div>
                                    <div class="col-xs-2">
                                        <span class="glyphicon glyphicon-remove tileclose unselectedButton ti" onclick=""></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mart2" data-bind="visible: canSave()">
        <div class="container">
            <div class="col-xs-2 col-sm-3 col-md-4"></div>
            <div class="col-xs-8 col-sm-6 col-md-4"  >
                <button type="button" class="btn btn-primary btn-block btn-wrap" data-bind="click: signUp, text: signUpButtonMessage"></button>
            </div>
            <div class="col-xs-2 col-sm-3 col-md-4"></div>
        </div>
    </div>
</div>


