<div class="row">
    <div class="container">
        <div class="col-sm-offset-3 col-sm-6 col-xs-12">
            <form role="form" data-bind="with: respondent">
                <div class="form-group">
                    <label class="bigWhite" for="emailAddress" data-bind="visible: !$root.messageEmail()">How can we get hold of you?</label>
                    <label class="bigWhite" for="emailAddress" data-bind="visible: $root.messageEmail()">Thanks for giving us your email address</label>
                    <input type="email" class="form-control" id="emailAddress" placeholder="Email" data-bind="value: emailAddress, valueUpdate: 'afterkeydown'">
                    <span class="help-block copy" data-bind="breezeValidation: 'emailAddress'"></span>
                </div>

                <div class="form-group">
                    <label class="bigWhite" for="fullName">Tell us your name if you like</label>
                    <input type="text" class="form-control autofocus" autofocus id="fullName" placeholder="Name" data-bind="value: fullName, valueUpdate: 'afterkeydown'">
                    <span class="help-block" data-bind="breezeValidation: 'fullName'"></span>
                </div>

                <div class="form-group">
                    <label class="bigWhite" for="organisation">Tell us where you work, if you like</label>
                    <input type="text" class="form-control" id="organisation" placeholder="Your organization" data-bind="value: organisation, valueUpdate: 'afterkeydown'">
                    <span class="help-block" data-bind="breezeValidation: 'organisation'"></span>
                </div>
                <!--<button type="button" class="btn btn-success" data-bind="enable: $root.canSave">Submit</button>-->
            </form>
        </div>
        
    </div>
</div>
<div class="row">
    <div class="container">
        <p class="small">
            Will you tell us a bit more about your interest in CueZero?  Just hover or select from the tiles below.
            For each one you can let us know whether <em>This is me</em> and tell us what your most looking for in a feedback tool so we can make it a reality.
        </p>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="col-md-offset-1"></div>
        <!--(div.col-md-2>div.tilect>div.tile + div.tilexp)*5-->
        <div data-bind="foreach: optionArray">
            <div class="col-sm-8 col-md-2" >
                <div class="tilect" onclick="" data-bind="css: {chosen: selected}" >
                    <div class="tile">
                        <p class="title" data-bind="html: intro"></p>
                    </div>
                    <div class="tilexp">
                        <p class="copy" data-bind="text: spiel"></p>

                        <form role="form">
                            <div class="form-group">
                                <label class="small" for="exampleInputEmail1">Have anything to add?</label>
                                <textarea class="form-control" rows="2" data-bind="value: comment" placeholder="Tell us what you most want to see, or want to be least like what you currently do"></textarea>
                            </div>
                        </form>
                        <button class="btn btn-block btn-primary selectedButton">This is me</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="row">
    <div class="container">
        <ul class="kwicks kwicks-horizontal">
            <li id="panel-1">
                this is the text
            </li>
            <li id="panel-2"><div>this is the tetxt</div></li>

            <li id="panel-3"><div>this is the tetxt</div></li>
            <li id="panel-4"><div>this is the tetxt</div></li>
            <li id="panel-5"><div>this is the tetxt</div></li>
        </ul>

    </div>
</div>-->
<!--<div id="foldrow" class="row">
    <div class="col-sm-2">
        <div id="uc-container" class="uc-container">
            <div class="uc-initial-content unfold">
                <p style="color: white">Not sure, just curious</p>
            </div>
            <div class="uc-final-content fold">
                <p style="color: white">We’re glad to have you here! We’ll keep you informed about CueZero as the launch date approaches and you’ll be the first to get a sneak peek before its official release.</p>
                <span class="icon-cancel"></span>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div id="uc-container" class="uc-container">
            <div class="uc-initial-content unfold">
                <p style="color: white">I’m interested in being part of the private beta group</p>
            </div>
            <div class="uc-final-content fold">
                <p style="color: white">Welcome, CueHero! We’re glad to have you on board. We’re busy building at the moment, so we may be a little quiet, but when we’re ready to share CueZero you will be the FIRST to know about it. </p>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div id="uc-container" class="uc-container">
            <div class="uc-initial-content unfold">
                <p style="color: white">I’m interesting in exploring an alternative to our current staff survey</p>
            </div>
            <div class="uc-final-content fold">
                <p style="color: white">We’re on a mission to make this a reality. We’ll keep you informed about our progress along the way and you’ll be the first to know about CueZero as it nears its release. Your survey’s days are numbered.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-2">
        <div id="uc-container" class="uc-container">
            <div class="uc-initial-content unfold">
                <p style="color: white">I’m interested in exploring an alternative to our current discussion and collaboration tool</p>
            </div>
            <div class="uc-final-content fold">
                <p style="color: white">You’ve come to the right place. We can’t wait to share more about CueZero with you as it nears its release.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div id="uc-container" class="uc-container">
            <div class="uc-initial-content unfold">
                <p style="color: white">Don’t put me in a box! Leave us a comment or a question:</p>
            </div>
            <div class="uc-final-content fold">
                <textarea class="form-control" autofocus rows="3"></textarea>
            </div>
        </div>
    </div>
</div>-->
