body {
    background-color: @brand-primary;
}

.cue {
    font-family: 'Century Gothic',futura,'URW Gothic L',Verdana,sans-serif;
    font-weight: bold;
    font-size: 46px;
    color: hsl(255,77%,100%);
}

.zero {
    font-family: 'Century Gothic',futura,'URW Gothic L',Verdana,sans-serif;
    font-size: 46px;
    font-weight: bold;
    color: @cz-aqua;
}

h3.featureTitle{
    color: @cz-teal;
    font-weight: bold;
}

.jumbotron.featureTitle{
        background-color: @cz-lightgrey;
    color: @cz-teal;
    padding-top: 1% ;
    padding-bottom: 1%;
    margin-top:4%;
}


.withBackground {
    background-color: @cz-aqua;
}

.bgTrans {
    -moz-animation-name: wellkf;
    -o-animation-name: wellkf;
    -webkit-animation-name: wellkf;
    animation-name: wellkf;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -o-animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -moz-animation-duration: 5s;
    -o-animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -moz-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

.textTrans {
    -moz-animation-name: interestFormTitle;
    -o-animation-name: interestFormTitle;
    -webkit-animation-name: interestFormTitle;
    animation-name: interestFormTitle;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -moz-animation-direction: alternate-reverse;
    -o-animation-direction: alternate-reverse;
    -webkit-animation-direction: alternate-reverse;
    animation-direction: alternate-reverse;
    -moz-animation-duration: 5s;
    -o-animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -moz-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

@-moz-keyframes wellkf {
    0% {
        background-color: #808080;
    }

    100% {
        background-color: #212121;
    }
}

@-webkit-keyframes wellkf {
    0% {
        background-color: #808080;
    }

    100% {
        background-color: #212121;
    }
}

@keyframes wellkf {
    0% {
        background-color: #808080;
    }

    100% {
        background-color: #212121;
    }
}

@keyframes interestFormTitle{
  0% {
        color: hsl(255,77%,100%);
    }

    100% {
        color: #000000;
    }
} 

@-webkit-keyframes interestFormTitle{
  0% {
        color: hsl(255,77%,100%);
    }

    100% {
        color: #000000;
    }
} 

@-moz-keyframes interestFormTitle{
  0% {
        color: hsl(255,77%,100%);
    }

    100% {
        color: #000000;
    }
} 

.infoblock{
    .container{
    height: 100%;
    border: solid;
    border-color: @cz-grey;
    }

    .header{
        font-size: @font-size-h4;
    font-weight: bold;
    color: @cz-lightgrey;
    }
    .copy{
    font-size: @font-size-small;
    color: @cz-lightgrey;
}
}


@import 'bootstrap/variables.less';
@import 'bootstrap/mixins.less';
