body {
	background-color: @cz-white;
}


div.shade{
	background-color: darken(fadeout(@cz-teal,30%),15%);
	padding: 20px;
	margin-top: 30px;   
	margin-bottom: 50px;
	p{
		font-size: @font-size-base;
	}

	small{
		font-size: @font-size-base*.9;
	}
}

.cue {
	font-family: 'Century Gothic',futura,'URW Gothic L',Verdana,sans-serif;
	font-weight: bold;
	//font-size: @font-size-h1;
	color: @cz-grey;
}

.zero {
	font-family: 'Century Gothic',futura,'URW Gothic L',Verdana,sans-serif;
	//font-size: @font-size-h1;
	font-weight: bold;
	color: @cz-aqua;
}

.italic {
	font-style: italic;
}


h3.wide {
	line-height: @line-height-large*1.5;
	margin-top: 3%;
	margin-bottom: 3%;
	color: @cz-teal;
}

h3, h4 .featureTitle {
	color: @cz-white;
	font-weight: normal;
}

/*h4.featureTitle{
	color: @cz-teal;
	font-weight: bold;
	margin-top:auto;
}*/

.jumbotron.featureTitle {
	background-color: @cz-teal;
	color: @cz-white;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-top: 4%;
}

.jumbotron.feature {
	background-color: @cz-teal;
	color: @cz-white;
}

.jumbotron.transparent {
	background: none;
	color: @cz-white;
	margin-bottom: 0px;
}

.jumbotron.transparent.small {
	background: none;
	color: @cz-white;
	font-size: @font-family-base;
}


.withBackground {
	background-color: @cz-aqua;
}

.withBackgroundBrand {
	background-color: @cz-teal;
	color: @cz-white;
}

.bgTrans {
	-moz-animation-name: wellkf;
	-o-animation-name: wellkf;
	-webkit-animation-name: wellkf;
	animation-name: wellkf;
	-moz-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-moz-animation-direction: alternate;
	-o-animation-direction: alternate;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	-moz-animation-duration: 5s;
	-o-animation-duration: 5s;
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-moz-animation-timing-function: ease;
	-o-animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
}

.textTrans {
	-moz-animation-name: interestFormTitle;
	-o-animation-name: interestFormTitle;
	-webkit-animation-name: interestFormTitle;
	animation-name: interestFormTitle;
	-moz-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-moz-animation-direction: alternate-reverse;
	-o-animation-direction: alternate-reverse;
	-webkit-animation-direction: alternate-reverse;
	animation-direction: alternate-reverse;
	-moz-animation-duration: 5s;
	-o-animation-duration: 5s;
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-moz-animation-timing-function: ease;
	-o-animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
}

@-moz-keyframes wellkf {
	0% {
		background-color: #808080;
	}

	100% {
		background-color: #212121;
	}
}

@-webkit-keyframes wellkf {
	0% {
		background-color: #808080;
	}

	100% {
		background-color: #212121;
	}
}

@keyframes wellkf {
	0% {
		background-color: #808080;
	}

	100% {
		background-color: #212121;
	}
}

@keyframes interestFormTitle {
	0% {
		color: hsl(255,77%,100%);
	}

	100% {
		color: #000000;
	}
}

@-webkit-keyframes interestFormTitle {
	0% {
		color: hsl(255,77%,100%);
	}

	100% {
		color: #000000;
	}
}

@-moz-keyframes interestFormTitle {
	0% {
		color: hsl(255,77%,100%);
	}

	100% {
		color: #000000;
	}
}

.infoblock {
	overflow: auto;
	margin-top: 2%;
	margin-bottom: 2%;

	.teal {
		background-color: @cz-teal;
		color: @cz-white;
	}

	.container {
		height: 100%;
		border: solid;
		border-color: @cz-grey;
	}

	.header {
		font-size: @font-size-h4;
		font-weight: normal;
		text-align: left;
		color: @cz-grey;
	}

	.copy {
		font-size: @font-size-small;
		text-align: left;
		line-height: 185%;
		color: @cz-gunmetal;
	}
}


/*@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2){
.signupinput {
		min-width: 200px;
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2){
	.signupinput {
		min-width: 140px;
	}
}*/


@media only screen and (min-width:@screen-sm-min ) and (min-device-width: @screen-sm-min) {
	.signupinput {
		min-width: 200px;
		max-width: 350px;
	}
}

@media only screen and (min-width:@screen-md-min) and (min-device-width:@screen-md-min) {
	.signupinput {
		min-width: 200px;
		max-width: 400px;
	}
}
//770 to 990 reverst to full-sized!


@media only screen and (min-width:@screen-lg-min) and (min-device-width:@screen-lg-min) {
	.signupinput {
		min-width: 400px;
		max-width: 400px;
	}
}





.block-body {
	.copy {
		text-align: justify;
		line-height: 175%;
		color: @cz-gunmetal;
	}
}

.navbar-nav {
	li {

		a {
			font-size: @font-size-h5;
			line-height: 40px;
		}
	}
}

.block-icon {
	width: 70px;
	height: 70px;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	text-align: center;
	font-size: 30px;
	color: #fff;
	line-height: 70px;
	margin: 0 auto;
	//background: @cz-teal;
	background-image: url(images/BowlsTealCroppedSmall.jpg);
	background-attachment: fixed;
	background-position: top;
}

.circleGrey {
	fill: @cz-lightgrey;
	stroke: none;
}

.circleTransparent {
	stroke: none;
	fill: url(/Content/images/BowlsTealCroppedSmall.jpg);
	background-repeat: repeat-y;
	background-attachment: fixed;
	background-position: top, center;
}

svg {
	width: 100%;
	height: 100%;
}


.white {
	background-color: @cz-white;
}

.row.brand {
	background-color: @cz-teal;
	color: @cz-white;
}

.row.transparent {
	//background: none;
	background-color: @cz-teal;
	overflow: auto;
	//min-height: 2%;
	padding-top: 1%;
}

label.bigWhite {
	color: @cz-white;
	font-size: @font-size-h5;
}

.splashbgtrans {
	-moz-animation-name: splashbtrans;
	-o-animation-name: splashbtrans;
	-webkit-animation-name: splashbtrans;
	animation-name: splashbtrans;
	-moz-animation-iteration-count: 1;
	-o-animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-moz-animation-direction: normal;
	-o-animation-direction: normal;
	-webkit-animation-direction: normal;
	animation-direction: normal;
	-moz-animation-duration: 5s;
	-o-animation-duration: 5s;
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-moz-animation-timing-function: ease;
	-o-animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
}

@keyframes splashbtrans {
	0% {
		background-color: @cz-grey;
	}

	100% {
		background-color: @cz-teal;
	}
}

@-webkit-keyframes splashbtrans {
	0% {
		background-color: @cz-grey;
	}

	100% {
		background-color: @cz-teal;
	}
}

@-moz-keyframes splashbtrans {
	0% {
		background-color: @cz-grey;
	}

	100% {
		background-color: @cz-teal;
	}
}

@keyframes textappear {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes textappear {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes textappear {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.maketextappear {
	-moz-animation-name: textappear;
	-o-animation-name: textappear;
	-webkit-animation-name: textappear;
	animation-name: textappear;
	-moz-animation-iteration-count: 2;
	-o-animation-iteration-count: 2;
	-webkit-animation-iteration-count: 2;
	animation-iteration-count: 2;
	-moz-animation-direction: alternate;
	-o-animation-direction: alternate;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	-moz-animation-duration: 6s;
	-o-animation-duration: 6s;
	-webkit-animation-duration: 6s;
	animation-duration: 6s;
	-moz-animation-timing-function: ease;
	-o-animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	-moz-animation-delay: 0s;
	-o-animation-delay: 0s;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}

.maketextdisappear {
	-moz-animation-name: textappear;
	-o-animation-name: textappear;
	-webkit-animation-name: textappear;
	animation-name: textappear;
	-moz-animation-iteration-count: 1;
	-o-animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-moz-animation-direction: alternate-reverse;
	-o-animation-direction: alternate-reverse;
	-webkit-animation-direction: alternate-reverse;
	animation-direction: alternate-reverse;
	-moz-animation-duration: 2s;
	-o-animation-duration: 2s;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-moz-animation-timing-function: ease;
	-o-animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	-moz-animation-delay: 0s;
	-o-animation-delay: 0s;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}

.kwicks {
	width: 100%;
	height: 300px;
}

	.kwicks > li {
		//height: 40px;
		//width: 100%;
		//margin-top: 5px;
		margin-left: 5px;
		float: left;
	}

#panel-1 {
	background-color: @cz-gunmetal;
}

#panel-2 {
	background-color: @cz-gunmetal;
}

#panel-3 {
	background-color: @cz-gunmetal;
}

#panel-4 {
	background-color: @cz-gunmetal;
}

#panel-5 {
	background-color: @cz-gunmetal;
}

.tencolumn .span1 {
	width: 7.6923076923076925%;
	*width: 7.628205128205129%;
}

.fivecolumn .span2 {
	width: 17.94871794871795%;
	*width: 17.884615384615383%;
}


.tilect {
	padding: 5px;
	margin: 2px;
	background-color: @cz-gunmetal;
	opacity: 0.7;
	position: relative;
	width: 100%;
	border-radius: 5px;
	cursor: pointer;
   
   top: 0px;
   left: 0px;
   z-index: 1;
}

@media only screen and (max-width:@screen-sm-max ) {
	.tilect{
		height: 100%;
	}
}

@media only screen and (min-width:@screen-md-min )  {
	.tilect{
		height: 120px;
	}
}


.chosen{
	background-color: @cz-aqua;
}


.tile {
	position: relative;

	.title {
		font-size: @font-size-base;
		font-weight: bold;
		margin-right: 20px;
	}
}

.tilexp {
	display: none;
	visibility: hidden;

	.copy {
		font-size: @font-size-base;
	}
}

/*.tilect:hover {
	opacity: 1;
	z-index: 1000;
	

}*/

.tilecthover{
	opacity: 1;
	z-index: 1000;
}

@media only screen and (min-width:@screen-md-min )  {
	/*.tilect:hover{
		top: -200px;
	left: -10px;
	width: 200%;
	height: 100%;
	}*/
	.tilecthover {
		top: -100px;
	width: 200%;
	height: 100%;
	}

	.tilecthoverright{
			left: -10px;
	}

	.tilecthoverleft {
	left: -110px;
	}

}

	/*.tilect:hover .tilexp {
		display:block;
		visibility: visible;
	}

	.tilect:hover .tile {
		position: relative;
	}*/

	.tilecthover .tilexp {
		display:block;
		visibility: visible;
	}

	.tilecthover .tile {
		position: relative;
	}

	.tileclose{
		position: absolute;
		top: 10px;
		right: 30px;
		width: 18px;
		opacity: 0.8;
		cursor: pointer;
		line-height: @line-height-large;
		font-size: @font-size-h4;
	}

	.tick{
	position: absolute;
	top: -5px;
	right: 5px;
	font-size: @font-size-h3;
	line-height: @line-height-base;
	width: 18px;
	color: @cz-aqua;
	opacity: .8;
	background-color: @cz-gunmetal;
}


.btn-wrap{
	white-space: normal;
}

.tp-caption.basic-white{
	//font-size: @font-size-h3;
	//line-height: @line-height-computed;
	//font-weight: 600;
	//font-family: @font-family-base;
	color: #fff;
	text-decoration: none;
	//text-align: left;


}

#topheader-to-offset{
	//height: 40px;
	margin-top: 40px;
}

@import 'bootstrap/variables.less';
@import 'bootstrap/mixins.less';
