/* pfold style */
.uc-container {
    position: relative;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
}

.uc-single,
.uc-final-wrapper,
.uc-initial-content,
.uc-back,
.uc-front {
    background: #ffffff;
}

.uc-final,
.uc-initial,
.uc-final-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.uc-initial-content,
.uc-final-content {
    width: 100%;
    height: 100%;
    position: relative;
    background: #458b9f;
}

.uc-final,
.uc-final-content {
    display: none;
}

.uc-initial-content {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.uc-part {
    top: 0;
    left: 0;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.uc-part > div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.uc-part .uc-back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

/* Transformation-origin classes */
.uc-unfold-left {
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.uc-unfold-right {
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.uc-unfold-top {
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.uc-unfold-bottom {
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

/* Unfolding classes */
.uc-unfold-left.uc-unfold {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.uc-unfold-right.uc-unfold {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.uc-unfold-top.uc-unfold {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.uc-unfold-bottom.uc-unfold {
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    -o-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}

.uc-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.uc-overlay,
.uc-flipoverlay {
    background-color: rgba(100, 100, 100, 0.7);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.uc-flipoverlay {
    background-color: rgba(100, 100, 100, 0.4);
}

.uc-inner {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.uc-inner-rotate {
    -webkit-transform: rotateY(180deg) rotateX(180deg);
    -moz-transform: rotateY(180deg) rotateX(180deg);
    -o-transform: rotateY(180deg) rotateX(180deg);
    -ms-transform: rotateY(180deg) rotateX(180deg);
    transform: rotateY(180deg) rotateX(180deg);
}

.uc-container.uc-current {
    z-index: 9999;
}

/* Demo 2 */
@font-face {
    font-family: 'entypo-selected';
    src: url(../font/entypo-selected.eot);
    src: url(../font/entypo-selected.eot?#iefix) format('embedded-opentype'), url(../font/entypo-selected.woff) format('woff'), url(../font/entypo-selected.ttf) format('truetype'), url(../font/entypo-selected.svg#entypo-selected) format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: 'entypo-selected';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    line-height: 1em;
}

.icon-cancel:before {
    content: '\2715';
}

/* '✕' */
.icon-plus-circle:before {
    content: '\50';
}

/* 'P' */
.icon-forward:before {
    content: '\47';
}

/* 'G' */
.icon-eye:before {
    content: '\56';
}

/* 'V' */
.icon-search:before {
    content: '\5a';
}

/* 'Z' */
.icon-link:before {
    content: '\4c';
}

/* 'L' */
.demo-2 .grid {
    width: 460px;
    margin: 30px auto;
}

.demo-2 .uc-container {
    width: 200px;
    height: 150px;
    float: left;
    margin: 15px;
}

.demo-2 .uc-single,
.demo-2 .uc-final,
.demo-2 .uc-initial-content,
.demo-2 .uc-back,
.demo-2 .uc-front {
    background: #29a6aa url(../images/noise.png) repeat top left;
}

.demo-2 .icon-eye {
    position: absolute;
    top: 0;
    left: 0;
    text-indent: 4px;
    font-size: 60px;
    color: transparent;
    color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    line-height: 145px;
    text-align: center;
    background: rgba(41, 166, 170, 0);
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.no-touch .demo-2 .uc-initial-content:hover .icon-eye {
    color: rgba(255, 255, 255, 0.8);
    background: rgba(41, 166, 170, 0.7);
}

.demo-2 .uc-initial-content img {
    display: block;
}

.demo-2 .title {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    bottom: 10px;
    left: 10px;
    right: 10px;
    padding: 10px;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
}

.demo-2 .title h4 {
    color: #aaa;
}

.demo-2 .icon-link {
    width: 30px;
    height: 30px;
    background: #ddd;
    position: absolute;
    right: 10px;
    top: 10px;
    line-height: 26px;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    text-indent: 2px;
}

.demo-2 .icon-cancel {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    line-height: 15px;
    font-size: 18px;
    color: #fff;
    opacity: 1;
    width: 18px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.demo-2 .icon-cancel:hover {
    background: #000000;
}