<div class="st-sticky-footer">
    <div class="row">
        <div class="col-sm-6">
            <div class="footer-content">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="footer-content">
                <ul class="list-unstyled">
                    <li>
                        <a href="https://twitter.com/cue_zero" target="_blank"><i class="fa fa-twitter"></i>&nbsp;Follow CueZero on Twitter</a>
                    </li>
                    <li>
                        <a href="mailto:info@cuezero.com" target="_blank"><i class="fa fa-envelope"></i>&nbsp;Email us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>