<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a data-bind="attr: { href: router.convertRouteToHash('/' + router.navigationModel()[0].hash) }" class="navbar-brand"><i class="fa fa-home"></i>    DurandalAuth</a>
    </div>
    <div class="collapse navbar-collapse navbar-main-collapse" style="height: 0px;">
        <ul class="nav navbar-nav" data-bind="foreach: router.navigationModel">
            <li data-bind="css: { active: isActive }">
                <a data-bind="attr: { href: $parent.router.convertRouteToHash('/' + hash) }, text: title"></a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" data-bind="if: typeof(appsecurity.userInfo()) == 'undefined'">
            <li>
                <a data-bind="attr: { href: router.convertRouteToHash('/account/login') }"><i class="fa fa-lock"></i>&nbsp; Login</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" data-bind="if: !(typeof(appsecurity.userInfo()) == 'undefined')">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user"></i>&nbsp; Hi <span data-bind="text: appsecurity.userInfo().name"></span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation" class="dropdown-header">Options</li>
                    <li><a data-bind="attr: { href: router.convertRouteToHash('/account/manage') }"><i class="fa fa-user-md"></i>  Manage your account</a></li>
                    <li data-bind="visible: appsecurity.isUserInRole(['User'])"><a data-bind="    attr: { href: router.convertRouteToHash('/user/dashboard') }"><i class="fa fa-dashboard"></i>  Dashboard</a></li>
                    <li data-bind="visible: appsecurity.isUserInRole(['Administrator'])" class="divider"></li>
                    <li data-bind="if: appsecurity.isUserInRole(['Administrator'])"  role="presentation" class="dropdown-header">Administration</li>
                    <li data-bind="if: appsecurity.isUserInRole(['Administrator'])"><a data-bind="    attr: { href: router.convertRouteToHash('/admin/panel') }"><i class="fa fa-users"></i>  Admin Panel</a></li>
                    <li class="divider"></li>
                    <li><a href="#" data-bind="click: logout"><i class="fa fa-lock"></i>   Logout</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right visible-xs visible-sm">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-share-square"></i>   Share
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation" class="dropdown-header">Share this site on your favourite network</li>
                    <li>
                        <a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=https://durandalauth.azurewebsites.net&p[images][0]=&p[title]=DurandalAuth%202.0&p[summary]=ASP.NET%20Identity%20token%20authentication%20using%20Durandal" target="_blank">
                            <i class="fa fa-facebook-square"></i>   Share on Facebook
                        </a>
                    </li>
                    <li>
                        <a href="http://twitter.com/home?status=DurandalAuth%202.0,%20ASP.NET%20Identity%20token%20authentication%20using%20Durandal%0A%0Ahttps://durandalauth.azurewebsites.net" target="_blank">
                            <i class="fa fa-twitter-square"></i>   Share on Twitter
                        </a>
                    </li>
                    <li>
                        <a href="http://www.linkedin.com/shareArticle?mini=true&url=https://durandalauth.azurewebsites.net&title=DurandalAuth%202.0&summary=ASP.NET%20Identity%20token%20authentication%20using%20Durandal&source=" target="_blank">
                            <i class="fa fa-linkedin-square"></i>   Share on LinkedIn
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/share?url=https://durandalauth.azurewebsites.net" target="_blank">
                            <i class="fa fa-google-plus-square"></i>   Share on Google plus
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul id="sharebar" class="nav navbar-nav navbar-right visible-md visible-lg">
            <li>
                <a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=https://durandalauth.azurewebsites.net&p[images][0]=&p[title]=DurandalAuth%202.0&p[summary]=ASP.NET%20Identity%20token%20authentication%20using%20Durandal" target="_blank">
                    <i class="fa fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a href="http://twitter.com/home?status=DurandalAuth%202.0,%20ASP.NET%20Identity%20token%20authentication%20using%20Durandal%0A%0Ahttps://durandalauth.azurewebsites.net" target="_blank">
                    <i class="fa fa-twitter-square"></i>
                </a>
            </li>
            <li>
                <a href="http://www.linkedin.com/shareArticle?mini=true&url=https://durandalauth.azurewebsites.net&title=DurandalAuth%202.0&summary=ASP.NET%20Identity%20token%20authentication%20using%20Durandal&source=" target="_blank">
                    <i class="fa fa-linkedin-square"></i>
                </a>
            </li>
            <li>
                <a href="https://plus.google.com/share?url=https://durandalauth.azurewebsites.net" target="_blank">
                    <i class="fa fa-google-plus-square"></i>
                </a>
            </li>
        </ul>         
    </div>
</nav>