<h1>Congratulations!!</h1>
<p class="lead">You manage yourself for entering this restricted route</p>
<p>Route restricted to users in role "User"</p>

<p>Now, if you got here by legal means :) ... then, a list with articles will be showed</p>

<br />

<div class="st-table-container">
	<table cellspacing="0" class="st-table table table-striped" id="articles">
		<thead>
		  <tr>
			 <th class="always not-selectable">Title</th>
			 <th class="always not-selectable">Description</th>
			 <th class="ontablet">Text</th>
			 <th class="ontablet">Date Created</th>
		  </tr>
	   </thead>
	   <tbody data-bind="foreach : articles">
		  <tr>
			 <td data-bind="text : Title"></td>
			 <td data-bind="text : Description"></td>
			 <td data-bind="text : Text"></td>
			 <td data-bind="text : DateCreated"></td>
		  </tr>      
	   </tbody>
	</table>
</div>
