<div class="row-fluid">
    <div class="span6 well">        
        <form class="form-horizontal" data-bind="if : hasAccount, submit : changePassword">
            <h2> Change Password </h2>
            <div class="control-group" data-bind="validationElement: withLocalForm.oldPassword">
                <label class="control-label" for="oldpassword">Old Password</label>
                    <div class="controls">
                        <input type="password"  data-bind="value: withLocalForm.oldPassword" placeholder="Old Password">                       
                    </div>
             </div>                   
             <div class="control-group" data-bind="validationElement: withLocalForm.newPassword">
                   <label class="control-label" for="newPassword">New Password</label>
                   <div class="controls">
                        <input type="password"  data-bind="value: withLocalForm.newPassword" placeholder="New Password">                        
                    </div>
              </div>  
             <div class="control-group" data-bind="validationElement: withLocalForm.confirmNewPassword">
                   <label class="control-label" for="confirmNewPassword">Confirm new Password</label>
                   <div class="controls">
                        <input type="password"  data-bind="value: withLocalForm.confirmNewPassword" placeholder="Confirm New Password">                        
                    </div>
              </div>                                                      
              <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Change password</button>
                    <button type="reset" class="btn">Reset</button>                     
               </div>                               
       </form>  
       <form class="form-horizontal" data-bind="if: !hasAccount(), submit: createLocalAccount">
            <h2> Create Local Account </h2>
             <div class="control-group" data-bind="validationElement: withoutLocalForm.newPassword">
                   <label class="control-label" for="newPassword">New Password</label>
                   <div class="controls">
                        <input type="password"  data-bind="value: withoutLocalForm.newPassword" placeholder="New Password">                        
                    </div>
              </div>  
             <div class="control-group" data-bind="validationElement: withoutLocalForm.confirmNewPassword">
                   <label class="control-label" for="confirmNewPassword">Confirm new Password</label>
                   <div class="controls">
                        <input type="password"  data-bind="value: withoutLocalForm.confirmNewPassword" placeholder="Confirm New Password">                        
                    </div>
              </div>                                                      
              <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Create local account</button>
                    <button type="reset" class="btn">Reset</button>                     
               </div>                               
       </form>  
    </div>

    <div class="span6 well">
        <h3>Registered external accounts</h3>
        <table>
            <tbody data-bind="foreach : externalAccounts">
                <tr>
                    <td class="well" data-bind="text : ProviderDisplayName"></td>
                    <td class="well" data-bind="if : $parent.showRemoveButton">
                        <a class="btn btn-primary" href="#" data-bind="click : function(data,event) { $parent.removeExternalAccount($parent,data,event); }, text : 'Remove'"></a>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div data-bind="compose : { model :'viewmodels/account/externallogins' , activate : true}"></div>
    </div>
</div>