<p>
    You've successfully authenticated with <span data-bind="text: DisplayName"></span>.
    Please enter a user name for this site below and click the Confirm button to finish
    logging in.
</p>
<form data-bind="submit: confirmexternalaccount">
    <fieldset>    
        <legend>
            Associate your <span data-bind="text: DisplayName"></span> account
        </legend>
    </fieldset>
    <div class="form-group" data-bind="validationElement: UserName">
        <label for="UserName">User name</label>        
        <input class="form-control" type="text" data-bind="value: UserName" placeholder="User name">        
    </div>
    <div class="form-group" data-bind="validationElement: Email">
        <label for="Email">Email</label>    
        <input class="form-control" type="text" data-bind="value: Email" placeholder="Email">    
    </div>
   <button type="submit" class="btn btn-default" >Register</button>
</form>