<div id="forgotpassword">
    <div class="container">
        <div class="page-header">
            <h1 class="text-center">Enter your mail   <small>... and we will send you an email with the instructions for resetting your password</small></h1>
        </div>
        <div class="row">
            <div class="col-sm-offset-3">
                <form data-bind="submit : forgotPassword" class="form-inline">
                    <div class="form-group" data-bind="validationElement: email">                        
                        <input class="form-control" type="text" data-bind="value: email" placeholder="Email">                        
                    </div>
                    <button type="submit" class="btn btn-primary">Start the process</button>
                    <button type="reset" class="btn btn-default">Clean fields</button>
                </form>
            </div>
        </div>
        <hr />
    </div>
</div>