<div id="registrationcomplete">
    <div class="container">
        <div class="page-header">
            <h1>Your account was succesfully confirmed!!</h1>
        </div>
        <h3><a href="#" data-bind="attr: { href: router.convertRouteToHash('/account/login') }" class="lead">Sign in</a> with your credentials and start using your account ... or you can:</h3>
        <ul class="list-unstyled mart2">
            <li><a href="#" data-bind="attr: { href: router.convertRouteToHash('/') }" class="lead">Go to the home page</a></li>
            <li><a href="#" data-bind="attr: { href: router.convertRouteToHash('/home/articles') }" class="lead">Read articles in this site</a></li>
            <li><a href="#" data-bind="attr: { href: router.convertRouteToHash('/user/dashboard') }" class="lead">Go to your dashboard</a></li>
            <li><a href="#" data-bind="attr: { href: router.convertRouteToHash('/account/manage') }" class="lead">Manage your account</a></li>
        </ul>
    </div>
</div>